<!DOCTYPE html>

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
        <!-- Determine existance of an object - avoids errors when rendering template -->
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <!-- using Django template tags to obtain url of given page -->
                <li><a href="{{page.url}}">{{page.title}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category does not exist.
        {% endif %}
        </div>

        <a href="/rango/">Index</a>
    </body>

</html>
